@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
  user-select: none;
}

@layer base {
  * {
    @apply font-body;
  }

  input,
  textarea {
    @apply bg-transparent;
  }

  input:focus {
    @apply outline-none;
  }

  textarea:focus {
    @apply outline-none;
  }

  h1:focus {
    @apply outline-none;
  }

  p:focus {
    @apply outline-none;
  }

  h1 {
    @apply block;
  }

  textarea {
    @apply resize-none;
  }

  a,
  p,
  h1,
  svg,
  span,
  input,
  small,
  button,
  textarea {
    @apply block;
  }

  svg,
  span,
  small {
    @apply pointer-events-none;
  }
}
